<div class="wrapper login-background">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <!-- Contenido centrado en pantalla -->
                <form class="form-signin">
                    <h2 class="form-signin-heading" style="text-align:center;">Infoboxer</h2>
                    <p style="text-align:center; font-size:13; margin-bottom:30px;">{{ 'INFOBOXER_SHORT_SUBTITLE' |
                        translate}}</p>
                    <input type="text" class="form-control"
                           ng-class="{'errorInput':!ctrl.virginUsername && ctrl.username.length == 0}"
                           ng-model="ctrl.username" placeholder="{{ 'USER_INPUT_PLACEHOLDER' | translate }}"
                           autofocus=/>

                    <br/>
                    <button class="btn btn-lg btn-success btn-block" type="submit" ng-click="ctrl.startSession()"><span
                            class="glyphicon glyphicon-ok"></span> {{ 'START_BUTTON_TEXT' | translate }}
                    </button>
                    <div class="">
                        <p class="footer-block">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default " ng-class="{'active': ctrl.language == 'es'}"
                                   ng-click="ctrl.changeLanguage('es')">
                                <input type="radio" name="inputWalls" id="inputWalls" value="es" checked>
                                Español </label>
                            <label class="btn btn-default" ng-class="{'active': ctrl.language == 'en'}"
                                   ng-click="ctrl.changeLanguage('en')">
                                <input type="radio" name="inputWalls" id="inputWalls" value="en">
                                English </label>
                        </div>
                        </p>

                    </div>
                    <div class="">
                        <p class="footer-block">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default " ng-class="{'active': ctrl.semantic == true}"
                                   ng-click="ctrl.setSemantic(true)">
                                <input type="radio" name="inputWalls" id="inputWalls" value="true" checked>
                                {{'STATISTIC_AND_SEMANTIC' | translate }}</label>
                            <label class="btn btn-default" ng-class="{'active': ctrl.semantic == false}"
                                   ng-click="ctrl.setSemantic(false)">
                                <input type="radio" name="inputWalls" id="inputWalls" value="false">
                                {{'ONLY_STATISTIC' | translate}}</label>
                        </div>
                        </p>

                    </div>

                    <!-- <p class="footer-block"><div class="btn-group" data-toggle="buttons">
                       <label class="btn btn-default " ng-class="{'active': ctrl.getSimplified()}" ng-click="ctrl.setSimplified(true)">
                         <input type="radio" name="inputWalls" id="inputWalls" value="es">
                        {{ 'SIMPLE_GUI' | translate}} </label>
                         <label class="btn btn-default " ng-class="{'active': !ctrl.getSimplified()}"  ng-click="ctrl.setSimplified(false)">
                           <input type="radio" name="inputWalls" id="inputWalls" value="en" checked>
                         {{ 'COMPLETE_GUI' | translate}}</label>
                         </div></p>

                       </div>

                        <i>{{ 'DATASET_WARNING' | translate}}</i>
                        <br/><b>{{ 'CURRENT_DATASET' | translate}}: </b> dbpedia-2015-04-en-->
                </form>

            </div>
        </div>
    </div>

    <p class="browsehappy" style="background-color:yellow;text-align:center;font-weight:bold;"ng-if="ctrl.ie">{{'IE_WARNING' | translate}}</p>

    <!-- Footer fijo -->
    <div id="footer">
        <div class="container" style="text-align:center;">
            <img style="max-width:170px; display:inline-block; margin:20px; " ng-src="images/unizar.png"></img>
            <img style="max-width:150px; display:inline-block; margin:20px;" ng-src="images/umbc.png"></img>
        </div>
    </div>
</div>

