<div class="dropdown">
    <ul  class="list-group" style="display:block; position: absolute; z-index: 999; width:{{width}}px;"
        ng-hide="!focused">
        <li ng-repeat="node in internalData | showFilter | notIntroducedCategory:alreadyEntered" style="cursor:pointer; padding-left:{{node.depth*18 + 6}}px; width:100%;"
            class="list-group-item treeListItem"
            ng-class="{active:$index==active}"
            ng-mouseenter="mouseenter($index)"
            ng-mousedown="click(node); $event.stopPropagation();"
        >

            <div style="display:inline-block;width:8%; padding-left:10px;"
                 class="foldButton" ng-mousedown="toggleChildren(node,$index); $event.stopPropagation();"
            >
                  <span ng-if="node.hasChildren && !node.expanded && (hasVisibleByHitChildren(node) && hasUniqueChildren(node))">
                      <i class="glyphicon glyphicon-chevron-down"></i>
                  </span>
                  <span ng-if="node.hasChildren && node.expanded && (hasVisibleByHitChildren(node) && hasUniqueChildren(node))">
                    <i class="glyphicon glyphicon-chevron-right"></i>
                  </span>
            </div>
            <div class="element"  ng-mousedown="click(node); $event.stopPropagation();">
                <span class="sugerencia" style=" margin:0; padding:0; display:inline;">{{node.name}}</span>
            </div>

        </li>
        <li ng-if="(internalData|showFilter|notIntroducedCategory:alreadyEntered).length==0" style="cursor:pointer; padding-left:6px; width:100%;"
            class="list-group-item treeListItem disabled">
            <i>{{'NO_MATCH' | translate}}</i>
        </li>
    </ul>
</div>
