
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;

/* Make the masthead heading the same height as the navigation */
h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;

.btn {
    font-size: 21px;
    padding: 14px 24px;
}

}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;

p + h4 {
    margin-top: 28px;
}

}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.mainTitle {
    font-family: Georgia, serif;
    color: #4E443C;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 100;
    margin-bottom: 0;
    font-size: 32px;
    margin-bottom: 1cm;
}

.main {
    padding-top: 35px;
    padding-bottom: 25px;
    padding-right: 50px;
    padding-left: 50px;
}

body {
    font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    font-size: 14px;

}

.progress-label {
    float: left;
    margin-right: 1em;
}

.xmp {
    font-size: 80%;
    white-space: pre-wrap;
}

.floatLeft {

    float: left !important;
}

.wrapper_full > table {
    width: 100%;
}

.twitter-typeahead {
    width: 100%;
}

/* CSS for typeahead */
.typeahead,
.tt-query,
.tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
}

.typeahead {
    background-color: #fff;
}

.typeahead:focus {
    border: 2px solid #0097cf;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rg ba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-menu {
    width: 100%;
    margin: 12px 0;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion:hover {
    cursor: pointer;
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}

@media (max-width: 991px) {
//Screen with less than

1024px width

//nothing with screen size bigger than

960px
   .fijo {
   }

}

@media (min-width: 992px) {
    /*Screen with more than 1024px width*/
    .fijo {
        position: fixed;
        top: 70px;
    }

}

.form-control-typeahead {
    float: none !important;
}

.input-group-typeahead {

    max-width: 500px;
}

.property-title {
    font-size: 150%;
}

.row {
    margin-top: 20px;
}

.fa-lg {
    vertical-align: 0%;
}

.box-table {
    border-color: #DBDEE0;
    border-width: 2px;
    border-style: solid;
    margin-bottom: 10px;
    box-shadow: 5px 5px 2px #C0C4C4;

}

.box {
    margin: 0px 0px 30px 0px;
    float: left;
    width: 100%;
    font-size: 14px;
    background-color: #FFFFFF;
}

.box-header {
    background-color: #F4F5F5;
    color: #34383C;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 40px;
    border-bottom-color: #DBDEE0;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.box-header i {

    border-right-color: #DBDEE0;
    border-right-width: 1px;
    border-right-style: solid;
    display: inline-block;
    height: 40px;
    padding-top: 10px;
    padding: 10px;
    line-height: 20px;
    text-align: center;
    font-size: 25px;
}

.box-title p {
    color: #7C848D;
    font-size: 15px;
    display: inline-block;
    padding: 0px;
    margin: 0px 0px 0px 0px;
}

.box-title p + p {
    margin-left: 5px;
}

.box-icon i {
    border-right: none;
    color: inherit;
    background-color: inherit;
}

.box-icon a,
.box-icon a:link,
.box-icon a:visited {
    border-left-color: #DBDEE0;
    border-left-width: 1px;
    border-left-style: solid;
    color: #7C848D;
    text-decoration: none;
    display: inline-block;
    width: 40px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    float: left;
    background-color: transparent;
}

.box-icon a:hover,
.box-icon a:focus {
    background-color: #7C848D;
    display: inline-block;
    text-decoration: none;
    border-bottom-width: 0px;
    color: #F4F5F5;
}

.box-content {
    color: #000000;
    background-color: #FFFFFF;

    padding: 10px;
}

.modal-footer {
    border-top: 0px;
}

/* Login */

.login-background {

    min-height: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7abcff+0,60abf8+44,4096ee+100;Blue+3D+%2314 */
    background: rgb(122, 188, 255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(122, 188, 255, 1) 0%, rgba(96, 171, 248, 1) 44%, rgba(64, 150, 238, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(122, 188, 255, 1)), color-stop(44%, rgba(96, 171, 248, 1)), color-stop(100%, rgba(64, 150, 238, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(122, 188, 255, 1) 0%, rgba(96, 171, 248, 1) 44%, rgba(64, 150, 238, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(122, 188, 255, 1) 0%, rgba(96, 171, 248, 1) 44%, rgba(64, 150, 238, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(122, 188, 255, 1) 0%, rgba(96, 171, 248, 1) 44%, rgba(64, 150, 238, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(122, 188, 255, 1) 0%, rgba(96, 171, 248, 1) 44%, rgba(64, 150, 238, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7abcff', endColorstr='#4096ee', GradientType=0); /* IE6-9 */

}

.wrapper {

}

.form-signin {
    max-width: 380px;
    padding: 0px 10px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);

.form-signin-heading,
.checkbox {
    margin-bottom: 10px;
}

.checkbox {
    font-weight: normal;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
@include box-sizing(border-box);

&
:focus {
    z-index: 2;
}

}

input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

}

/* Fixing full height background */
html, body {
    height: 100%;

}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

/** FOOTER **/
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 80px;
    background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.footer-block {
    margin: 20px 0;
}

#footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-custom {
    background-color: #0088cc;
    border-color: #0072ab;
}

.navbar-custom .navbar-brand {
    color: #ffffff;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
    color: #e6e6e6;
    background-color: transparent;
}

.navbar-custom .navbar-text {
    color: #ffffff;
}

.navbar-custom .navbar-nav > li:last-child > a {
    border-right: 1px solid #0072ab;
}

.navbar-custom .navbar-nav > li > a {
    color: #ffffff;
    border-left: 1px solid #0072ab;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    color: #fcfcfc;
    background-color: transparent;
}

.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
    color: #fcfcfc;
    background-color: #0072ab;
}

.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
}

.navbar-custom .navbar-toggle {
    border-color: #dddddd;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #dddddd;
}

.navbar-custom .navbar-toggle .icon-bar {
    background-color: #cccccc;
}

.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
    border-color: #0070a8;
}

.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #fcfcfc;
    border-bottom-color: #fcfcfc;
}

.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
    background-color: #0072ab;
    color: #fcfcfc;
}

.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
    border-top-color: #fcfcfc;
    border-bottom-color: #fcfcfc;
}

.navbar-custom .navbar-nav > .dropdown > a .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

@media (max-width: 767) {
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }

    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fcfcfc;
        background-color: transparent;
    }

    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fcfcfc;
        background-color: #0072ab;
    }

    .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #cccccc;
        background-color: transparent;
    }
}

.navbar-custom .navbar-link {
    color: #ffffff;
}

.navbar-custom .navbar-link:hover {
    color: #fcfcfc;
}

.center {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

/** Finish modal **/
.rating-smiley {
    font-size: 400%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #A5A5A5;

}

.rating-smiley-active {
    font-size: 400%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #336600;
}

.question-title {
    font-size: 130%;

}

.question-box {

}

.survey-box {

}

.survey-message {
    font-size: 140%;
    margin-bottom: 20px;
    text-align: center;
}

.bottomright {
    position: fixed;
    bottom: 0;
    right: 0;
}

.errorInput {
    border-color: #ff0000 !important;
    box-shadow: 0 0 9px rgba(255, 0, 0, 0.4) !important;
}

.okInput {
    border-color: #ff0000 !important;
    box-shadow: 0 0 9px rgba(255, 0, 0, 0.4) !important;
}

.sugerencia {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.cabecera-sugerencia {
    padding: 3px 20px;
    font-size: 22px;

    line-height: 24px;
    font-weight: bold;
}

.activa {
    cursor: pointer;
    color: #fff;
    background-color: #0097cf;

}

.moreButton {
    width: 100%;
}

.mostrar-mas {
    background-color: #b1b1b1;
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;

}

.mostrar-mas:hover {
    cursor: pointer;
    color: #fff;
    background-color: #b1b1b1 !important;
}

.modal-scroll {

    max-height: 1100px;
    overflow: scroll;
}

.scroll-infobox {

    max-height: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.photo {
    max-width: 100%;
    height: auto;
}

/** CSS of tree */
.foldButton{
    font-size:1.1em;
}

.foldButton:hover{
    color: greenyellow;
    font-weight:bold;
}

.treeListItem{
    border-top: none !important;

    padding-top:0px;
    padding-bottom:0px;
}

.treeListItem .element{
    padding-top:0px;
    padding-bottom:0px;
    display:inline-block;
    width:90%;

}
/*.treeListItem .element:hover{
    color: greenyellow;
    font-weight:bold;
}*/

.treeListItem.active .element span{

}